#top {
  min-height: 50px !important;
  height: 50px !important;
  background-color: #218daf;;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  .stable-header-work-area {
    width: 60%;
    display: flex;
    align-items: center;
  }

  #logo {
    color: #fff;
    //padding: 0 0 0 10px;
    cursor: pointer;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;;
    font-weight: 600;
    font-size: 19px;
    text-decoration: none;
    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .login-register_area {

    button {
      float: right;
      color: #218daf;;;
      background-color: #fff;
      border: none;
      margin: 0 5px 0 10px;
      border-radius: 10px;
      text-transform: capitalize;
      cursor: pointer;
      padding: 5px 10px 5px 10px;

      &:hover {
        color: #fff;
        background-color: #d49500;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
