#top {
  min-height: 50px !important;
  height: 50px !important;
  background-color: #00BCD4;
  margin: 0 0 5px 0;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;

  #logo {
    color: #fff;
    font-size: 18px;
    padding: 0 0 0 10px;
  }

  .login-register_area {
    width: 86%;

    button {
      float: right;
      color: #00bcd4;
      background-color: #fff;
      border: none;
      margin: 0 5px 0 10px;
      border-radius: 10px;
      text-transform: capitalize;
      cursor: pointer;
      padding: 5px 10px 5px 10px;
    }

    button:hover {
      color: #fff;
      background-color: #218daf;
    }

    button:focus {
      outline: none
    }
  }
}
